/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1.5px solid #000;
	padding: 5px 10px;
	text-decoration: none;
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

a.tree-req{background:#da0000;color:#fff;}
a.tree-sel{background:#fff;color:#000;}
a.tree-no-req{background:#189720;color:#000;}
a.tree-filled{background:#898584;color:#fff;}
a.tree-orden{background:rgb(223, 117, 20); color:#fff;}
a.tree-parent{background:#ABB6BC;color:#000;}

.box-req{background:#da0000;color:#fff;}
.box-sel{background:#fff;color:#000;}
.box-no-req{background:#189720;color:#000;}
.box-filled{background:#898584;color:#fff;}
.box-orden{background:rgb(223, 117, 20); color:#fff;}
.box-parent{background:#ABB6BC;color:#000;}

.sbox {   
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.process_box {   
    float: left;
    width: 100px;
    height: auto;
    padding: 5px;
    margin: 5px 0 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}

.arrow_box {   
    float: left;
    width: 32px;
    height: 24px;
	/*background: url('../images/flow_arrow.png') no-repeat;*/
    margin: 5px 0 0 0;
}

.box-link
{ color:#ffffff; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; }
/*Thats all. I hope you enjoyed it.
Thanks :)*/
